# Copy this file to .env.local and fill in your values
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sales@sundayharmony.com
SMTP_PASS=hlzg vgmq afpn fdrd
NOTIFY_EMAIL=sales@sundayharmony.com
NEXT_PUBLIC_SITE_URL=https://www.sundayharmony.com
NEXTAUTH_SECRET=sh-2026-s3cr3t-k3y-ch4ng3-1n-pr0d
NEXTAUTH_URL=http://localhost:3000
